@charset "utf-8";
/* CSS Document */
body  
{
    padding:0px; 
    margin:0px; 
    background-color:#f2f2f2; 
    background: url(../images/pageBackPattern.gif);
    color:#666;
}
.menu{
    width: 100%;
    background:transparent url(../images/menubarBackStrip.gif) repeat-x 0 0; 
	overflow:hidden
	}
	
 .menu ul{ margin: 0; padding: 0; float: left; padding: 0 0 0 15px;}
 
.menu ul li{ display: inline;}
 
.menu ul li a{
	margin-right:20px;
    float: left;
	text-decoration: none;
    padding-top: 10.5px; 
    font-weight:bold;
    font-size: 25;
    color:gray;    
}
	
.menu ul li a.active{ 
	font-weight:bold; 
	color:#82ceec;
	/* background:transparent url(../images/activeMenuArrow.gif) no-repeat center bottom } */
    background: transparent url(../images/mainMenuBack.gif) repeat-x right 0px;
	border-bottom: 1px solid black;
	 
	 }
	
.menu ul li a.active:hover { color:#82ceec; } 
 
.menu ul li a:hover, .menu ul li .current{ color:darkgrey;}

#container { overflow:hidden; padding:10px; background:transparent url(../images/pageContainerBack.gif) repeat-y 0 0;}

#container #pageRight { width:245px;  }

#container #pageRight .htsusGlobalCodeBlock {
	border:0px;
	border-bottom:1px solid #bbb;
	padding:0px 0px 10px 0px;
	font:bold 12px Tahoma, Geneva, sans-serif;
}

.menuIteam {
    font: 16px Tahoma;
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #1C1C1C;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    
}

.menuIteam:hover {
    color: #FAFAFA;
}

.options {
    font-family: 'Prosto One', cursive;
    font-size: 17px;
    text-align: right;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #FE2E2E;
    margin-left: 5px;
    margin-right: 5px;
}

#menuContainer {
    display:none; 
    position: fixed; 
    top: 0; 
    background: rgba(56,56,56, 0.3) ; 
    z-index: 110; 
    box-shadow: -0.5px 0px 10px #585858;
}

#menuhover {
    position: fixed; z-index: 100; 
    background-color: #1C1C1C;
}

.dataLoading {
    position: fixed; 
    width: 50px; 
    height: 50px;
    z-index: 100; 
    display: none
}

.graphLoading {
    position: relative; 
    width: 150px; 
    height: 15px;
    z-index: 110;
    display: none;
}

.graphViewerWindow {
    background: rgba(42,42,42, 0.92);
    z-index: 100;
    position: fixed;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
     box-shadow: 0.5px 0.5px 10px #585858;
    display: none;
    cursor: move;
}

.closeImg {
    width: 22px;
    height: 22px;
    margin: 6px;
    float: right;
    position: relative;
    cursor: pointer;
   
}

















#demo {
	margin-top:5em;
}

.w { 
	width:10px;
	height: 10px;
	padding:1em;
    z-index: 115;
	position:absolute;
	border: 1px solid black;
	border-radius: 50% 50% 50% 50%;
	border: 2px solid #F7819F;  
	box-shadow: 1px 1px 10px #A9A9F5;
	-o-box-shadow: 1px 1px 10px #A9A9F5;
	-webkit-box-shadow: 1px 1px 10px #A9A9F5;
	-moz-box-shadow: 1px 1px 10px #A9A9F5;
	opacity:0.8;
	filter:alpha(opacity=80);
	background-color:white;
	font-size:11px;
	-webkit-transition:background-color 0.15s ease-in;
	-moz-transition:background-color 0.15s ease-in;
    transition: background-color 0.15s ease-in;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    color: black;
    font-family: Tahoma;
}

.w:hover {
	background-color: #5c96bc;
	color:white;
    border: 2px solid #2E64FE;
}

.aLabel {
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
	
}

.aLabel._jsPlumb_hover {
    background-color:#1e8151; 
	color:white;
    z-index: 115;
}

._jsPlumb_source_hover, ._jsPlumb_target_hover {
	background-color:#1e8151;
	border: 2px solid #2E64FE;  
	color:white;
	z-index: 112;
}

.aLabel {
	background-color:#585858;
	opacity:0.6;
	padding:0.3em;				
	border-radius:0.5em;
	border:1px solid #346789;
	cursor:pointer;
	font-size: 10px;
    color: #BDBDBD;
}

.ep {
	position:absolute;
	bottom: 37%;
	right: 5px;
	width:1em;
	height:1em;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
}

._jsPlumb_endpoint {
	z-index:3;
}

#opened {
	left:10em;
	top:5em;
}

#phone1 {
	left:35em;
	top:12em;
	width:7em;
}
#inperson {
	left:12em;
	top:23em;
}
#phone2 {
	left:28em;
	top:24em;
}
#rejected {
	left:10em;
	top:35em;
}
.dragHover { border:2px solid orange; }

path { cursor:pointer;z-index: 115;}