@charset "utf-8";
/* CSS Document */
body  
{
    padding:0px; 
    margin:0px; 
    background-color:#f2f2f2; 
    background: url(../images/pageBackPattern.gif);
    color:#666;
}

.menuIteam{
    font: 16px Tahoma;
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #1C1C1C;
    margin-left: 15px;
    margin-right: 15px;
    
}

.subMenuIteam{
    font: 16px Tahoma;
    padding: 10px;
    cursor: pointer;
    margin-left: 20px;
}
.tahoma15 {
    font: 15px Tahoma;
}
.projectNameTitle {
    margin-top: 8px;
    margin-left: 10px;
    font-family: 'Prosto One', cursive;
    font-size: 14px;
}
.projectNameOKbtn {
    background-color: #424242;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    margin-left: 10px;
    width: 35px;
    color: #D8D8D8;
    font: 15px Tahoma;
    text-align: center;
    height: 20px;
    cursor: pointer;
    
}
.projectNameContainer {
    margin: 10px;
    margin-top: 16px;
}

.menuIteam:hover{
    color: #A4A4A4;
}

.subMenuIteam:hover {
    color: #FAFAFA;      
}

.inlineBlock {
    display: inline-block;
}

.projectCreationWindow {
    background: rgba(42,42,42, 0.92);
    z-index: 150;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
     box-shadow: 0.5px 0.5px 10px #585858;
    position: fixed;
    width: 350px;
    height: 120px;
    left: 0;
    top: 0;
}

#statusWindowContent {
    display: none;
    z-index: 130;
}

.statusWindow {
    background: rgba(42,42,42, 0.92);
    z-index: 150;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0.5px 0.5px 10px #585858;
    position: fixed;
    width: 325px;
    height: 120px;
    left: 0;
    top: 0;
    text-align: center
}
#statusText {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 35px;
}

.statusLoading {
    display: block;
    margin-top: 12px;
    margin-left: 75px;    
}
 #projectCreationWindowContent {
     display: none
 }

.projectCreationWindow .closeImg {
    width: 18px;
    height: 18px;
}
.statusWindow .closeImg {
    width: 18px;
    height: 18px;
}

.options {
    font-family: 'Prosto One', cursive;
    font-size: 17px;
    text-align: right;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #FE2E2E;
    margin-left: 5px;
    margin-right: 20px;
}

#menuContainer {
    display:none; 
    position: fixed; 
    top: 0; 
    background: rgba(56,56,56, 0.3) ; 
    z-index: 110; 
    box-shadow: -0.5px 0px 10px #585858;
}

#menuhover {
    position: fixed; z-index: 100; 
    background-color: #1C1C1C;
}

.dataLoading {
    position: fixed; 
    width: 50px; 
    height: 50px;
    z-index: 145; 
    display: none
}

.graphLoading {
    width: 125px; 
    height: 12px;
    z-index: 145;
    position: absolute;
}

.graphViewerWindow {
    background: rgba(42,42,42, 0.92);
    z-index: 120;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
     box-shadow: 0.5px 0.5px 10px #585858;
    display: none;
    position: fixed;
}


.statusContainer {
     background-color: rgba(28,28,28, 0.2);
     height: 200px;
    margin-left: 35px;
    margin-right: 35px;
     -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 1px 1px 4px black;    
    background-repeat: no-repeat;
    
}

.statusbarBackImage {
    float: right;
    height: 100%;
    position: absolute;
    left: 155px;
}
.statusbar {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 140;
}
.statusBarText1 
{
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 41px;
    margin: 0 0 0 50px;
    opacity: 0.85;
    padding-top: 35px;
    font-family: 'Antic Slab', serif;    
    color: white;
}
.statusBarText2 {
    color: #A6A6A6;
    font-family: 'statusBarText3';
    font-size: 15px;
    letter-spacing: 0.1em;
    line-height: 24px;
    margin-left: 50px;
    margin-top: 12px;
}
.statusBarText3 {
    color: #A6A6A6;
    font-family: 'Average Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 24px;
    margin-left: 50px;
    margin-top: 10px;
}
.graphContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.runSolverText {
    padding: 10px;
    text-align: center;
}
.runSolverBtn 
{
    display: none;
    width: 120px;
    height: 45px;
    z-index: 130;
     -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    text-align: center;
    background-color: #2E2E2E;
    border: 1px solid #585858;
    color: white;
    font-family: Tahoma, cursive;
    font-size: 15px;
    
}
.closeImg {
    width: 22px;
    height: 22px;
    margin: 6px;
    float: right;
    position: relative;
    cursor: pointer;
    display: inline-block;
    z-index: 145;
}


#graphViewerContent {
    display: none;
}

#nodeCount {
    display: inline-block;
    color: #0080FF;
     opacity: 0.4;
}
#edgeCount {
    display: inline-block;
    color: #01DF01;
     opacity: 0.4;
}
#timer {
    display: inline-block;
    color: #FF4000;
    opacity: 0.4;
}


#demo {
	margin-top:5em;
}

.solverLoadingDiv {

float: right;

}
.solverLoading {
        width: 80px;
height: 80px;
margin-top: 50px;
margin-right: 45px;
}

.solverName {
    color: #0080FF;
    opacity: 0.6;
    font-family: 'Prosto One', cursive;
    font-size: 15px;
    margin-top: 20px;
    margin-left: -15px;   
}


.cell {
    width: 5px;
    height: 5px;
    border: 1px solid red;
    border-radius: 50% 50% 50% 50%;
    z-index: 111;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #424242;
    border-color: #1C1C1C;
    cursor: pointer;
}

.cell:hover {
     opacity: 0.6;
     border: 2px solid orangered;
    width: 10px;
    height: 10px;
    z-index: 110;
}

.selectedCell {
    opacity: 0.8;
    border: 2px solid #FA8258;
    background-color: #04B404;
    width: 6px;
    height: 6px;
    z-index: 110;
}


/* jqplum*/
.w { 
	width:10px;
	height: 10px;
	padding:1em;
    z-index: 115;
	position:absolute;
	border: 1px solid black;
	border-radius: 50% 50% 50% 50%;
	border: 2px solid #F7819F;  
	box-shadow: 1px 1px 10px #A9A9F5;
	-o-box-shadow: 1px 1px 10px #A9A9F5;
	-webkit-box-shadow: 1px 1px 10px #A9A9F5;
	-moz-box-shadow: 1px 1px 10px #A9A9F5;
	opacity:0.8;
	filter:alpha(opacity=80);
	background-color:white;
	font-size:11px;
	-webkit-transition:background-color 0.15s ease-in;
	-moz-transition:background-color 0.15s ease-in;
    transition: background-color 0.15s ease-in;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    color: black;
    font-family: Tahoma;
}

.w:hover {
	background-color: #5c96bc;
	color:white;
    border: 2px solid #2E64FE;
}

.aLabel {
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
	
}

.aLabel._jsPlumb_hover {
    background-color:#1e8151; 
	color:white;
    z-index: 115;
}

._jsPlumb_source_hover, ._jsPlumb_target_hover {
	background-color:#1e8151;
	border: 2px solid #2E64FE;  
	color:white;
	z-index: 112;
}

.aLabel {
	background-color:#585858;
	opacity:0.6;
	padding:0.3em;				
	border-radius:0.5em;
	border:1px solid #346789;
	cursor:pointer;
	font-size: 10px;
    color: #BDBDBD;
}

.ep {
	position:absolute;
	bottom: 37%;
	right: 5px;
	width:1em;
	height:1em;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
}

._jsPlumb_endpoint {
	z-index:3;
}

#opened {
	left:10em;
	top:5em;
}

#phone1 {
	left:35em;
	top:12em;
	width:7em;
}
#inperson {
	left:12em;
	top:23em;
}
#phone2 {
	left:28em;
	top:24em;
}
#rejected {
	left:10em;
	top:35em;
}
.dragHover { border:2px solid orange; }

path { cursor:pointer;z-index: 115;}