<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="ByteKnightContext" connectionString="metadata=res://*/ByteKnight.csdl|res://*/ByteKnight.ssdl|res://*/ByteKnight.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tamkin\sqlexpress;Initial Catalog=byteknight;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>