<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <connectionStrings>
    <add name="ByteKnightContext" connectionString="metadata=res://*/ByteKnight.csdl|res://*/ByteKnight.ssdl|res://*/ByteKnight.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tamkin\sqlexpress;Initial Catalog=byteknight;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>  

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
 <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" name="TPAWebClient" defaultUrl="~/Default.aspx"/>
    </authentication>-->
    <!--<authorization>
      <deny users="?"/>
    </authorization>-->
    <sessionState timeout="2880"/>   

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <!--<serviceDebug includeExceptionDetailInFaults="true"/>-->
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
          <readerQuotas maxStringContentLength="214748364" maxArrayLength="214748364" maxBytesPerRead="214748364" maxNameTableCharCount="214748364" maxDepth="214748364"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="NewByteKnight.Service.Service">
        <endpoint address="" binding="webHttpBinding" contract="NewByteKnight.Service.IService">
        </endpoint>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel> 
  
</configuration>
